#form-container-textgen, #form-container-imagegen {
    max-width: 380px;
}
#results textarea {
    border: 0;
    box-shadow: none !important;
    width: 100%
}
.control-label {
    display: inline !important;
}
input.slider {
    border:0;
    color:#f6931f;
    font-weight:bold;
    background: #fff !important;
    box-shadow: none !important;
}
.radio-inline {
    display: inline-block !important;
}
.block {
    display: block !important;
}
#TB_ajaxContent {
    overflow-x: hidden !important;
    min-height: 700px !important;
}

@media (min-width: 992px) {
    .container {
        width: 750px !important;
    }
}